img {
    float: left;
    width: 500px;
    height: 450px;
}
p {
    float: left;
    color: #ffffff;
    margin: 10px;
    position: relative;
    top: -10px; /* Move text up by 20px */
}
 .container {
    display: flex;
    flex flex-wrap:nowrap;
    align-items: flex :start;
    max-width: 1000px;
    margin: 0px;
 }
 /* Main Styles */
body {
    margin: 150px;
    padding: 0;
    background-color: #000000;
    font-family: 'Arial';
}

/* Heading Styles */
h1 {
    text-align: center;
    font-size: 5em;
    color: #ffffff;
}
