nav{
    margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
}
a{
    color: yellow;
    font-size: 25px;
}
body{
    background-color: black;
}
h1{
    color: yellow;
    display:flex;
    justify-content: space-evenly;
    font-size: 100px;
    padding: 0;
}
img {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 300px;
}